{% for post in posts %}
    {% if request.user.username == post.user.username %}
        <button 
            type="button" 
            class="btn btn-outline-danger btn-sm px-1 py-0 pull-right delete-button"
            data-post="{{ post.id }}">
                X
            </button>
    {% endif %}
    <ul class="post post-{{ post.id }}" data-post="{{ post.id }}">
        <li class="post-username"><a class="link-username" href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a></li>
        <li class="post-content">{{ post.content }}</li>
        <li class="post-likes">
            {% if user.is_authenticated %} 
                {% if post.id in liked_post_id_list %}
                    <form class="likeForm">
                        <button 
                            class="btn btn-primary" 
                            type="button"
                            data-post="{{ post.id }}"
                            data-liked="true"
                            data-likes="{{ post.likes }}"
                            data-session-user="{{ request.user.username }}">
                                <i class="fa fa-thumbs-up"></i> 
                                {{ post.likes }}
                        </button>
                    </form>
                {% else %}
                    <form class="likeForm">
                        <button 
                            class="btn btn-outline-primary" 
                            type="button" 
                            data-post="{{ post.id }}"
                            data-liked="false"
                            data-likes="{{ post.likes }}"
                            data-session-user="{{ request.user.username }}">
                                <i class="fa fa-thumbs-up"></i> 
                                {{ post.likes }}
                        </button>
                    </form>
                {% endif %} 
            {% endif %}
        <li class="post-time">{{ post.time }}</li>
    </ul>
    <hr class="hr-{{ post.id }}"> 
{% empty %}
    <span class="post-empty">No posts at this time!</span>
{% endfor %}