{% extends "network/layout.html" %}

{% block body %}
    <div class="container border">
        <h4>All Posts</h4>
        {% if user.is_authenticated %}
            {% if not newPost %}
                <div class="row border border-primary">
                    <div class="col border border-success p-2 m-2">
                        <h5>New Post</h5>
                        <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ postForm }}
                            </div>
                            <button class="btn btn-primary">Post</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="row border border-primary">
                    <div class="col border border-success p-2 m-2">
                        <h5>Your Post</h5>
                        <ul>
                            <li>@{{ newPost.user.username }}</li>
                            <li>{{ newPost.content }}</li>
                            <li>{{ newPost.time }}</li>
                            <li>{{ newPost.likes }}</li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        
        <div class="row border border-primary">
            <div class="col border border-success p-2 m-2">
                {% for post in posts %}
                    <ul class="post">
                        <li class="post-username">@{{ post.user.username }}</li>
                        <li class="post-content">{{ post.content }}</li>
                        <li class="post-likes"><i class="fa fa-thumbs-up"></i> {{ post.likes }}</li>
                        <li class="post-time">{{ post.time }}</li>
                    </ul>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}